stages:
  - registry
  - tests

variables:
  NODE_ENV: "test"

registry:
  stage: registry
  image: docker
  services:
    - name: docker:dind
      command: [ "--insecure-registry=registry.hal.davecutting.uk"]
  script:
  - echo $CI_REGISTRY_PASSWORD | docker login -u $CI_REGISTRY_USER $CI_REGISTRY --password-stdin
  - docker build -t $CI_REGISTRY_IMAGE:latest .
  - docker push $CI_REGISTRY_IMAGE:latest
  tags: [dockerindocker]

tests:
  stage: tests
  image: golang:latest
  script:
    - go test -v ./...
